/*******************************************************************************
 * Styles for the customized elements .
 ******************************************************************************/


.name-title {
    font-family: 'Courgette';
    font-weight: 400;
}

.about-title {
    font-family: 'NotoSerif-Italic';
    font-weight: 600;
}