/*******************************************************************************
 * Styles for the customized fonts.
 ******************************************************************************/
$font-path: "../fonts/";


@font-face {
    font-family: "Courgette";
    src: url(#{$font-path}Courgette-Regular.ttf) format('truetype');
};

@font-face {
    font-family: "NotoSerif";
    src: url(#{$font-path}NotoSerif.ttf) format('truetype');
}

@font-face {
    font-family: "NotoSerif-Italic";
    src: url(#{$font-path}NotoSerif-Italic.ttf) format('truetype');
}

@font-face {
    font-family: "ShantellSan";
    src: url(#{$font-path}ShantellSan.ttf) format('truetype');
}

@font-face {
    font-family: "Kalam";
    src: url(#{$font-path}Kalam-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Caveat";
    src: url(#{$font-path}Caveat.ttf) format('truetype');
}

